{% extends 'app/base.html' %}

{% block title %}Lista de Personas{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Personas Enroladas</h2>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for persona in personas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ persona.nombre }} {{ persona.apellido }}
                <a href="{% url 'app:persona_detalle' persona.id %}" class="btn btn-info btn-sm">Ver Detalle</a>
            </li>
            {% empty %}
            <li class="list-group-item">No hay personas registradas.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
